In [ ]:
Checking & Cleaning data jika ada anomali

In [33]:
import pandas as pd
 
df_day = pd.read_csv("data/day.csv")
df_hour = pd.read_csv("data/hour.csv")

In [35]:
df_day.isnull().sum()

instant       0
dteday        0
season        0
yr            0
mnth          0
holiday       0
weekday       0
workingday    0
weathersit    0
temp          0
atemp         0
hum           0
windspeed     0
casual        0
registered    0
cnt           0
dtype: int64

In [36]:
df_hour.isnull().sum()

instant       0
dteday        0
season        0
yr            0
mnth          0
hr            0
holiday       0
weekday       0
workingday    0
weathersit    0
temp          0
atemp         0
hum           0
windspeed     0
casual        0
registered    0
cnt           0
dtype: int64

In [37]:
df_day.duplicated().sum()

0

In [38]:
df_hour.duplicated().sum()

0

In [42]:
df_day.describe(include="all")

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
count,731.000000,731,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000
unique,NaN,731,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,2011-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,366.000000,NaN,2.496580,0.500684,6.519836,0.028728,2.997264,0.683995,1.395349,0.495385,0.474354,0.627894,0.190486,848.176471,3656.172367,4504.348837
std,211.165812,NaN,1.110807,0.500342,3.451913,0.167155,2.004787,0.465233,0.544894,0.183051,0.162961,0.142429,0.077498,686.622488,1560.256377,1937.211452
min,1.000000,NaN,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.059130,0.079070,0.000000,0.022392,2.000000,20.000000,22.000000
25%,183.500000,NaN,2.000000,0.000000,4.000000,0.000000,1.000000,0.000000,1.000000,0.337083,0.337842,0.520000,0.134950,315.500000,2497.000000,3152.000000
50%,366.000000,NaN,3.000000,1.000000,7.000000,0.000000,3.000000,1.000000,1.000000,0.498333,0.486733,0.626667,0.180975,713.000000,3662.000000,4548.000000
75%,548.500000,NaN,3.000000,1.000000,10.000000,0.000000,5.000000,1.000000,2.000000,0.655417,0.608602,0.730209,0.233214,1096.000000,4776.500000,5956.000000
max,731.000000,NaN,4.000000,1.000000,12.000000,1.000000,6.000000,1.000000,3.000000,0.861667,0.840896,0.972500,0.507463,3410.000000,6946.000000,8714.000000

In [46]:
df_day.to_csv("all_data.csv", index=False)

In [48]:
Pertanyaan Bisnis

1. Metode apa yang paling banyak digunakan untuk rental sepeda ? (done)
2. Bagaimana total rental sepeda beberapa bulan terakhir baik ? (done)
3. Pada Musim apa pelanggan paling sering menyewa, dan jarang sepeda ? (done)
4. Bagaimana rata-rata suhu pada beberapa bulan terakhir ? (done)
5. Bagaimana rata-rata humidity pada beberapa bulan terakhir ? (done)
6. Bagaimana rata-rata feeling temperature pada beberapa bulan terakhir ? (done)
7. Bagaimana perkembangan rata-rata feeling temperature dalam beberapa bulan terakhir, dan apa implikasinya terhadap penggunaan layanan ? (done)

Disini menggunakan hour.csv karena agregat lebih detail untuk melakukan visualisasi

SyntaxError: invalid syntax (98031559.py, line 1)

In [49]:
Jawaban dari pertanyaan untuk
1. Metode yang paling banyak digunakan untuk rental sepeda adalah pelanggan yang sudah melakukan register
2.

SyntaxError: invalid syntax (3127665083.py, line 1)

NameError: name 'daily_rents_df' is not defined